/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  /* html {
      font-size: 60%;
    } */
}

/* /* 980px / 16px = 61.25em
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  460px / 16px = 28.75em
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    } 
  /* } */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

body {
  background-color: #266e85ff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #f0f0f0ff;
}

h1 {
  font-size: 6rem;
  color: #f0f0f0ff;
  font-weight: 900;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  overflow: visible;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #07293eff;
}

.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0 0 0 6rem;
}

.nav-list a {
  display: block;
  margin-right: 4rem;
  color: #f0f0f0ff;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem;
}

.nav-list a:hover {
  background-color: rgb(85, 32, 39);
}

#welcome-section {
  margin-top: 200px;
  background-color: #266e85ff;
  padding-bottom: 10rem;
}

#welcome-section p {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}

#projects {
  padding: 4rem 2rem;
  background-color: #48b5ffff;
}

#project-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
}

.project-tile {
  background-color: #181719;
  border: 1px solid gainsboro;
  box-shadow: 1px 2px 5px 3px #18171944;
  padding-bottom: 0.75rem;
}

.project-header {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.project-heading {
  font-style: italic;
  font-weight: 300;
  padding-bottom: 1rem;
}
#contact {
  width: 100%;
  padding: 4rem;
  background-color: #dff6ffff;
  text-align: center;
}
#contact h2,
p {
  color: #07293eff;
}
.section-desc {
  font-style: italic;
}
.contact-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  padding-top: 10rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.contact-links a {
  text-decoration: none;
  color: #07293eff;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #266e85ff;
  width: 100%;
  align-items: center;
  padding: 2rem 2rem;
}
footer p {
  color: white;
}
